* {
    padding: 0;
    margin: 0;
    margin: 0 auto;
}

body {
    font-size: 16px;
    width: 100%;
    line-height: 1.4em;
}

.container {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
}

.clr {
    clear: both;
}

.container .first {
    width: 70%;
    height: 40px;
    padding-top: 30px;
}

.container .first .left {
    float: left;
}

.container .first .left img {
    width: 200px;
    height: 75px;
}

.container .first .right {
    float: right;
}

.container .first .right .search {
    float: right;
}

.container .first .right .menu-header {
    padding-top: 30px;
}

.container .first .right .menu-header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.container .first .right .menu-header ul li {
    float: left;
}

.container .first .right .menu-header ul li a {
    display: inline;
    color: #76B867;
    text-align: center;
    padding: 14px 5px;
    text-decoration: none;
    text-transform: uppercase;
}

.container .first .right .menu-header ul li a:hover {
    /* background-color: #07A4DB; */
    color: #07A4DB;
}

.container .after {
    width: 100%;
    height: 500px;
    background-image: url("img/backgruond.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 10px;
}

.container .after .text-panner {
    text-align: center;
    position: relative;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container .after .text-panner h1 {
    color: #FFFFFF;
    text-transform: capitalize;
    font-size: 30px;
    margin-bottom: 20px;
    width: 50%;
    line-height: 40px;
}

.container .nav-slide {
    width: 70%;
    height: 40px;
    background: #5EB146;
    margin-bottom: 50px;
}

.container .after .list-icon {
    float: right;
}

.container .after .list-icon .item {
    display: block;
    height: 35px;
}

.container .after .list-icon {
    display: block;
}

.container .after .list-icon img {
    width: 35px;
    height: 100%;
}

.container .nav-slide ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.container .nav-slide {
    transform: translate(0, -100%);
}

.container .nav-slide ul li {
    float: left;
    text-transform: capitalize;
}

.active {
    float: left;
    margin-right: 100px;
}

.container .nav-slide ul li a {
    color: #FFFFFF;
    display: block;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
}

.container .nav-slide ul li a:hover {
    color: aqua;
}